@import "icons"
@import "fonts/cantarell"
@import "fonts/raleway"
@import "fonts/titillium"

html, body
    margin: 0
    padding: 0
    height: 100%
    scrollbar-width: auto
    scrollbar-color: #ffca66 #222

    > .container
        position: relative
        font-family: Cantarell, sans-serif
        letter-spacing: -1px
        background: #050505
        color: #dedede
        font-size: 30px
        margin: 0
        padding: 0
        padding-bottom: 200px
        min-height: 100%

        > .body
            padding: 0

            h1, h2
                font-family: Raleway, sans-serif
                letter-spacing: 0
                font-weight: normal
                font-size: 40px
                text-align: center
                margin: 0
                > small
                    display: block
            h3, h4, h5, h6
                font-family: "Titillium Web", sans-serif
                font-weight: bold

            small
                font-size: 60%

            a
                color: #aaaaff
                text-decoration: none
                &:hover
                    text-decoration: underline

            .center
                text-align: center

            .button
                border: 1px solid #111
                padding: 5px 10px
                background: white
                color: black
                text-decoration: none
                display: inline-block

                &.invite
                    background: none
                    border: 1px solid white
                    color: inherit
                    border-radius: 30px
                    margin: 10px
                    padding: 10px 60px
                    padding-right: 20px
                    transition: 250ms
                    position: relative

                    &:hover
                        background: white
                        color: black
                        text-decoration: none

                        &.gh-logo::before
                            filter: invert(0%)

                        &.discord-logo::before
                            filter: invert(0%)

                        &.irc-logo::before
                            background-color: black
                            color: white

                    &.gh-logo::before
                        content: ""
                        position: absolute
                        left: 15px
                        top: 11px
                        width: 32px
                        height: 32px
                        background-image: url("/img/svg/github.svg")
                        background-repeat: no-repeat
                        background-size: 32px
                        filter: invert(100%)
                        transition: 250ms

                    &.discord-logo::before
                        content: ""
                        position: absolute
                        left: 15px
                        top: 11px
                        width: 32px
                        height: 32px
                        background-image: url("/img/svg/discord.svg")
                        background-repeat: no-repeat
                        background-size: 32px
                        filter: invert(100%)
                        transition: 250ms

                    &.irc-logo::before
                        content: "#"
                        font-size: 20px
                        font-style: italic
                        color: black
                        background-color: white
                        border-radius: 20px
                        position: absolute
                        left: 15px
                        top: 12px
                        width: 32px
                        height: 32px
                        line-height: 30px
                        letter-spacing: 3px
                        transition: 250ms

            section
                &.hero
                    position: relative
                    left: 0
                    right: 0
                    top: 0
                    height: 80vh
                    padding-top: 20vh
                    color: white

            nav
                position: sticky
                top: 0
                background: #dedede
                cursor: default
                margin-bottom: 100px
                z-index: 1000
                > a.logo
                    vertical-align: middle
                    display: inline-block
                    > img
                        display: block
                        width: 256px
                > ul
                    position: relative
                    list-style: none
                    margin: 0
                    padding: 0
                    padding-top: 9px
                    display: inline-block
                    vertical-align: middle
                    &.right
                        position: absolute
                        right: 10px
                        top: -20px
                    > li
                        display: inline-block
                        > a
                            padding: 20px 10px
                            padding-bottom: 10px
                            color: #222
                            text-decoration: none
                            &:hover
                                text-decoration: underline
                            > img
                                display: block
                                height: 50px

            > .toc
                position: fixed
                top: 55px
                left: 0
                bottom: 0
                width: 250px
                background: #223377
                z-index: 500
                margin: 0
                padding: 20px
                padding-top: 50px
                font-size: 0.8em
                overflow-y: auto
                list-style: none
                > li
                    > ul
                        font-size: 0.8em
                        border-left: 1px dotted #aaaaff
                        list-style: none
                        padding: 0
                        margin: 0
                        margin-left: 10px
                        margin-bottom: 10px
                        padding-top: 5px
                        padding-left: 10px
                        padding-bottom: 5px

            > article
                width: 1000px
                margin: 0 auto
                padding-bottom: 100px
                &.with-toc
                    padding-left: 300px

                > h2
                    text-align: inherit
                    border-top: 1px solid #dede
                    margin-top: 50px
                    padding-top: 20px
                    font-size: 1.5em

                > h3
                    font-size: 1.2em

                code
                    border: 1px solid #111
                    border-radius: 5px
                    padding: 2px 5px
                    font-size: 0.9em
                    background: #151515

                table
                    border: 1px solid #111
                    border-radius: 5px
                    border-collapse: collapse
                    font-size: 0.8em
                    > thead > tr > th
                        border: 1px solid #222
                        background: #151515
                        padding: 10px
                    > tbody > tr > td
                        border: 1px solid #222
                        padding: 10px 20px

                pre
                    font-size: 20px
                    padding: 10px 20px
                    overflow-x: auto

                    code
                        border: none
                        border-radius: 0
                        padding: 0
                        font-size: 0.9em
                        background: none

        > footer
            position: absolute
            z-index: 1000
            bottom: 0
            width: calc(100% - 220px)
            height: 200px
            background-color: #dedede
            background-image: url("../img/svg/kosmorro-icon.svg")
            background-repeat: no-repeat
            background-position: calc(100% - 50px) 50px
            background-size: 130px
            margin: 0
            padding: 20px 200px 20px 20px
            font-size: 16px
            text-align: center
            color: #222

            a
                color: #2200aa

            > ul.social
                list-style: none
                &::before
                    content: "Follow the project:"
                    display: block
                > li
                    vertical-align: middle
                    display: inline-block
                    font-size: 64px
                    margin: 5px
                    > a
                        padding: 10px
                        display: block
                        width: 60px
                        svg > path
                            fill: #222

            > .legal > .logo
                text-decoration: none
                margin-left: 10px
                vertical-align: middle

@media(max-width: 1350px)
    body > .container > .body > .toc
        display: none

    body > .container > .body > article
        &.with-toc
            padding-left: 0

@media(max-width: 1100px)
    body > .container > .body > article
        width: 90%

@media(max-width: 800px)
    body > .container > footer
        background-image: none
        padding: 20px
        width: calc(100% - 40px)
        > ul.social > li > a
                width: 30px

@media(max-width: 670px)
    body > .container > .body
        nav
            height: 85px
            overflow-y: hidden
            transition: 250ms height
            &:hover
                height: 300px
            &::after
                content: '≡'
                color: #555
                position: absolute
                top: 25px;
                right: 20px;
                font-size: 40px;
            > ul
                display: block
                text-align: center
                margin-top: 25px
                > li
                    display: block
                    > a
                        padding: 0
                &.right
                    position: static
                    margin-top: 10px
                    > li
                        display: inline-block