@import "icons"
@import "fonts/cantarell"
@import "fonts/raleway"
@import "fonts/titillium"

$yellow: #ffca66
$darkGrey: #222

html, body
    margin: 0
    padding: 0
    height: 100%
    scrollbar-width: auto
    scrollbar-color: $yellow $darkGrey
    font-size: 30px

    i
        font-style: normal

    ol
        list-style: none
        counter-reset: discs
        margin-left: 0.5em

        > li
            counter-increment: discs
            margin-bottom: 15px
            position: relative

            &::before
                content: counter(discs)
                position: absolute
                margin-left: -2.5em
                font-size: 0.75em
                background: $darkGrey
                color: $yellow
                font-weight: bold
                border-radius: 50%
                padding: 8px 13px
                transition: 250ms

            &:hover::before
                background: $yellow
                color: $darkGrey


    > .container
        position: relative
        font-family: Cantarell, sans-serif
        letter-spacing: -1px
        background: #050505
        color: #dedede
        margin: 0
        padding: 0
        padding-bottom: 200px
        min-height: 100%

        > .body
            padding: 0

            h1
                margin-bottom: 50px

            h2
                margin-bottom: 20px
                color: #ffca66

            h1, h2
                font-family: Raleway, sans-serif
                letter-spacing: 0
                font-weight: normal
                text-align: center
                > small
                    display: block

            h3, h4, h5, h6
                font-family: "Titillium Web", sans-serif
                font-weight: bold

            p
                margin: 5px

            small
                font-size: 60%

            a
                color: #aaaaff
                text-decoration: none
                &:hover
                    text-decoration: underline

            .center
                text-align: center

            .button
                border: 1px solid #111
                padding: 5px 10px
                background: white
                color: black
                text-decoration: none
                display: inline-block

                &.invite
                    background: none
                    border: 1px solid white
                    color: inherit
                    border-radius: 30px
                    margin: 10px
                    padding: 10px 60px
                    padding-right: 20px
                    transition: 250ms
                    position: relative

                    &:hover
                        background: white
                        color: black
                        text-decoration: none

                        &.gh-logo::before
                            filter: invert(0%)

                        &.discord-logo::before
                            filter: invert(0%)

                        &.irc-logo::before
                            background-color: black
                            color: white

                    &.gh-logo::before
                        content: ""
                        position: absolute
                        left: 15px
                        top: 11px
                        width: 32px
                        height: 32px
                        background-image: url("/img/svg/github.svg")
                        background-repeat: no-repeat
                        background-size: 32px
                        filter: invert(100%)
                        transition: 250ms

                    &.discord-logo::before
                        content: ""
                        position: absolute
                        left: 15px
                        top: 11px
                        width: 32px
                        height: 32px
                        background-image: url("/img/svg/discord.svg")
                        background-repeat: no-repeat
                        background-size: 32px
                        filter: invert(100%)
                        transition: 250ms

                    &.irc-logo::before
                        content: "#"
                        font-size: 20px
                        font-style: italic
                        color: black
                        background-color: white
                        border-radius: 20px
                        position: absolute
                        left: 15px
                        top: 12px
                        width: 32px
                        height: 32px
                        line-height: 30px
                        letter-spacing: 3px
                        transition: 250ms

            section
                &.hero
                    position: relative
                    left: 0
                    right: 0
                    top: 0
                    height: 80vh
                    padding-top: 20vh
                    color: white

            nav
                position: sticky
                top: 0
                background: white
                cursor: default
                margin-bottom: 100px
                z-index: 1000
                padding: 15px 50px
                > a.logo
                    vertical-align: middle
                    display: inline-block
                    > img
                        display: block
                        height: 40px

                        &.mobile
                            display: none
                            height: 40px
                > ul
                    position: absolute
                    right: 50px
                    list-style: none
                    margin: 0
                    padding: 0
                    padding-top: 5px
                    display: inline-block
                    vertical-align: middle
                    > li
                        display: inline-block
                        > a
                            padding: 20px 10px
                            padding-bottom: 10px
                            color: #222
                            text-decoration: none
                            &:hover
                                text-decoration: underline
                            > img
                                display: block
                                height: 50px

            > .toc
                position: fixed
                top: 55px
                left: 0
                bottom: 0
                width: 250px
                background: #223377
                z-index: 500
                margin: 0
                padding: 20px
                padding-top: 50px
                font-size: 0.8em
                overflow-y: auto
                list-style: none
                > li
                    > ul
                        font-size: 0.8em
                        border-left: 1px dotted #aaaaff
                        list-style: none
                        padding: 0
                        margin: 0
                        margin-left: 10px
                        margin-bottom: 10px
                        padding-top: 5px
                        padding-left: 10px
                        padding-bottom: 5px

            > article
                width: 1000px
                margin: 0 auto
                padding-bottom: 100px
                &.with-toc
                    padding-left: 300px

                > h2
                    text-align: inherit
                    margin-top: 50px
                    padding-top: 20px
                    font-size: 1.2em

                > h3
                    font-size: 1em
                    color: #ffca66

                code
                    border: 1px solid #111
                    border-radius: 5px
                    padding: 2px 5px
                    font-size: 0.9em
                    background: #151515

                table
                    border: 1px solid #111
                    border-collapse: collapse
                    font-size: 0.8em
                    margin: 50px auto
                    > thead
                        > tr > th
                            border: 1px solid #222
                            background: #151515
                            padding: 10px
                    > tbody > tr > td
                        border: 1px solid #222
                        padding: 10px 20px

                > aside
                    margin: 40px 0
                    > .version-support
                        position: relative
                        display: inline-block
                        margin: 10px
                        padding: 10px
                        padding-left: 90px
                        background-color: #332222
                        background-image: url("/img/twemoji/cross-mark.svg")
                        background-repeat: no-repeat
                        background-position-x: 10px
                        background-position-y: center
                        background-size: 64px
                        border-radius: 10px
                        max-width: 30%
                        font-size: 0.6em
                        text-align: left
                        cursor: default

                        &.supported
                            background-color: #223322
                            background-image: url("/img/twemoji/check-mark.svg")

                        > h4
                            font-size: 1.2em
                            margin: 0
                            padding: 0
                        
                            > .badge
                                position: absolute
                                right: 10px
                                background: white
                                color: #222
                                padding: 2px 8px
                                margin: 0
                                margin-left: 10px
                                border-radius: 5px

                        > .release-date, .support-status
                            display: block

                pre
                    font-size: 20px
                    padding: 10px 20px
                    overflow-x: auto

                    code
                        border: none
                        border-radius: 0
                        padding: 0
                        font-size: 0.9em
                        background: none

                #version-select
                    background-color: #333
                    background-image: url("/img/svg/arrow.svg")
                    background-repeat: no-repeat
                    background-position-x: calc(100% - 15px)
                    background-position-y: 50%
                    border: #222
                    padding: 7px 15px
                    padding-right: 35px
                    margin: 20px 0
                    color: #dedede
                    float: right
                    font-size: 0.7em
                    cursor: pointer
                    border-radius: 5px
                    -moz-appearance: none
                    -webkit-appearance: none
                    -ms-progress-appearance: none
                    outline-width: 2px
                    outline-style: solid
                    outline-offset: 20px
                    outline-color: transparent
                    transition: 250ms outline-offset, 250ms outline-color
                    
                    &:focus
                        outline-color: white
                        outline-offset: 0

                > .alert
                    &.version
                        position: sticky
                        top: 100px
                        background: #550000
                        padding: 20px 30px
                        clear: right
                        font-size: 0.7em
                        border-radius: 5px
                        margin-bottom: -50px

                        > h3
                            margin: 0
                            padding: 0
                            font-size: 1em

                        > p
                            margin: 0
                            padding: 0

                > ul.os-select
                    list-style: none
                    margin: 1rem 0
                    padding: 0
                    text-align: center
                    cursor: default

                    > li
                        display: inline-block
                        padding: 0 1rem
                        position: relative

                        > a
                            color: inherit
                            &:hover
                                text-decoration: none

                            > .fab
                                display: block
                                font-size: 3rem
                                vertical-align: middle

                        > .soon
                            position: absolute
                            top: 0px
                            right: -5px
                            width: 50px
                            transform: rotate(10deg)
                            background: #8b0606
                            padding: 1px 5px
                            font-size: 0.45em
                            border-radius: 3px
                            transition: 100ms transform
                            line-height: 1ex
                            padding: 5px
                            line-height: 2ex
                        &:hover
                            > .soon
                                transform: rotate(5deg)

        > footer
            position: absolute
            z-index: 1000
            bottom: 0
            width: calc(100% - 220px)
            height: 200px
            background-color: #dedede
            background-image: url("../img/svg/kosmorro/kosmorro-icon.svg")
            background-repeat: no-repeat
            background-position: calc(100% - 50px) 50px
            background-size: 130px
            margin: 0
            padding: 20px 200px 20px 20px
            font-size: 16px
            text-align: center
            color: #222

            a
                color: #2200aa

            > ul.social
                list-style: none
                > li
                    vertical-align: middle
                    display: inline-block
                    font-size: 64px
                    margin: 5px
                    > a
                        padding: 10px
                        display: block
                        width: 60px
                        color: #111
                        text-decoration: none

            > .legal > .logo
                text-decoration: none
                margin-left: 10px
                vertical-align: middle

@media(max-width: 1350px)
    body > .container > .body > .toc
        display: none

    body > .container > .body > article
        &.with-toc
            padding-left: 0

@media(max-width: 1100px)
    body > .container > .body > article
        width: 90%

@media(max-width: 610px)
    body > .container
        > .body
            nav
                > a.logo > img
                    &.normal
                        display: none
                    &.mobile
                        display: block
                    &.right
                        position: static
                        margin-top: 10px
                        > li
                            display: inline-block
            
            > article
                > .alert
                    &.version
                        position: static

                aside > .version-support
                    display: block
                    max-width: 100%
    
        > footer
            background-image: none
            padding: 20px
            width: calc(100% - 40px)
            > ul.social > li > a
                width: 30px
