<ul class="os-select">

    <li><a href="#"><i class="fab fa-windows" aria-hidden="true"></i><small>Windows</small></a><small class="soon">Coming soon</small></li>
    <li><a href="/cli/download/macos" aria-hidden="true"><i class="fab fa-apple"></i><small>macOS</small></a></li>
    <li><a href="/cli/download/linux" aria-hidden="true"><i class="fab fa-linux"></i><small>Linux</small></a></li>
    <li><a href="/cli/download/freebsd" aria-hidden="true"><i class="fab fa-freebsd"></i><small>FreeBSD</small></a></li>

</ul>
