{% for version in config.extra.lib_supported_versions %}
    <div class="version-support{% if version.supported %} supported{% endif %}">
        <h4>
            Version {{ version.number }}
            {% if version.number == config.extra.lib_doc_current_version %}
                <small class="badge" title="Version {{ version.number }} is the most recent.&#10;Please consider using it in priority.">Recommended</small>
            {% endif %}
        </h4>
        <p>
            <span class="release-date">Released on {{ version.release_date }}.</span>
            <span class="support-status">
                {% if version.supported %}Supported until{% else %}End Of Life since{% endif %} the release of&nbsp;{{ version.killer_version }}.
            </span>
        </p>
    </div>
{% endfor %}