<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

{% include 'security.html' %}

        <link href="/fa/css/fontawesome.min.css" rel="stylesheet" />
        <link href="/fa/css/solid.min.css" rel="stylesheet" />
        <link href="/fa/css/brands.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="/css/normalize.css/normalize.css" />
        <link rel="stylesheet" href="/base.css" />
        {% block stylesheets %}{% endblock %}
        <meta name="theme-color" content="#000" />

        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
        <meta property="og:description" content="{% block ogdescription %}{% endblock %}" />
        {% if current_url %}<meta property="og:url" content="{{ current_url | safe }}" />{% endif %}
        <meta property="og:site_name" content="{{ config.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ config.base_url | safe }}/img/kosmorro-open-graph.jpg" />

        {% block jsonld %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="body">
                {% if page and not page.extra.hide_nav or section and not section.extra.hide_nav %}
                    <nav>{% include 'nav.html' %}</nav>
                {% endif %}
                {% block body %}{% endblock %}
            </div>

            <footer>
                <ul class="social" aria-label="Social networks to follow the project">
                    <li><a target="_blank" href="https://github.com/Kosmorro">
                        <i class="fa-brands fa-github" title="Follow the project on GitHub" aria-label="GitHub logo"></i>
                    </a></li>
                    <li><a target="_blank" href="https://fosstodon.org/@Kosmorro" rel="me">
                        <i class="fa-brands fa-mastodon" title="Follow the project on Mastodon" aria-label="Mastodon logo"></i>
                    </a></li>
                    <li><a target="_blank" href="https://bsky.app/profile/kosmorro.space" rel="me">
                        <i class="fa-brands fa-bluesky" title="Follow the project on Bluesky" aria-label="Bluesky logo"></i>
                    </a></li>
                </ul>
                <p class="legal">
                    Kosmorro is a free software distributed under <a target="_blank" href="https://github.com/Kosmorro/kosmorro/blob/v{{ config.extra.cli_version }}/LICENSE.md">GNU Affero General Public License v3.0</a>.<br />

                    Kosmorro's website by <a href="https://deuchnord.fr">Jérôme Deuchnord</a> is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>
                </p>
            </footer>

            <script type="text/javascript" src="/scripts/matomo.js"></script>
            <script src="https://stats.deuchnord.fr/matomo.js" async defer></script>
        </div>
    </body>
</html>
