{% extends 'page.html' %}

{% block title %}{{ page.title }}{% endblock %}
{% block ogtitle %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block ogdescription %}{{ page.description }}{% endblock %}

{% block body %}


<article>
{{ page.content | safe }}

{% filter markdown %}

## Using Kosmorro

The simplest command you can run is `kosmorro`.
If you need help in using Kosmorro, you have different options depending on your preference:

- Typing `kosmorro --help` gives you the complete synopsis of the program, with its options
- You might also want to [read the manpage](@/cli/manpage.md), available with `man kosmorro`
- You can also read the [`tldr` manual](https://tldr.inbrowser.app/pages/common/kosmorro) with `tldr kosmorro`

### Using the PDF generator

If you want to generate a PDF file, you might want to look at its [dedicated documentation](@/cli/generate-pdf.md) too.

{% endfilter %}
</article>
                
{% endblock %}