{% extends 'base.html' %}

{% block title %}Kosmorro - A program to calculate your ephemerides{% endblock %}
{% block ogtitle %}Kosmorro - A program to calculate your ephemerides{% endblock %}
{% block description %}Available for Linux, FreeBSD and Mac!{% endblock %}
{% block ogdescription %}Available for Linux, FreeBSD and Mac!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/kosmorro-landing.css" />
{% endblock %}

{% block body %}

    <div class="landing">
        <section class="hero fairyland">
            <h1>
                <img src="/img/svg/kosmorro-logo-white.svg" alt="Kosmorro" />
                <small>A program to calculate your ephemerides</small>
            </h1>

            <div class="download_button">
                <a href="/cli/download" class="button">Download</a>
                <small>Version {{ config.extra.cli_version }} </small>
            </div>
        

            <div class="scroll-down-invite">
                <i class="icon-mouse"></i>
                <span class="text">Scroll down</span>
            </div>
        </section>
        <nav>
            {% include 'nav.html' %}
        </nav>
        {{ section.content | safe }}
    </div>


{% endblock %}
