{% extends 'base.html' %}

{% block title %}{{ section.title }}{% endblock %}
{% block ogtitle %}{{ section.title }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}
{% block ogdescription %}{{ section.description }}{% endblock %}

{% block body %}

{% if section.toc and section.extra.show_toc %}
<ul class="toc">
    {% for h2 in section.toc[0].children %}
        <li>
            <a href="{{h2.permalink | safe}}">{{ h2.title | replace(from='{{ lib_version }}', to=config.extra.lib_version) }}</a>
            {% if h2.children %}
                <ul>
                    {% for h4 in h2.children %}
                        <li>
                            <a href="{{h4.permalink | safe}}">{{ h4.title | replace(from='{{ lib_version }}', to=config.extra.lib_version) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}

<article{% if section.extra.show_toc %} class="with-toc"{% endif %}>
{{ section.content | replace(from='{{ lib_version }}', to=config.extra.lib_version) | safe }}
</article>
                
{% endblock %}