        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src https://stats.deuchnord.fr; img-src 'self'; script-src 'self' https://stats.deuchnord.fr; style-src 'self' 'unsafe-inline'; font-src 'self'; frame-ancestors 'none'; form-action 'self'; base-uri 'self'" />
        <meta http-equiv="Same-Origin" content="always" />
        <meta http-equiv="Content-Type-Options" content="nosniff" />
        <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
        <meta http-equiv="X-Frame-Options" content="DENY" />
